
label{
  font-weight: lighter;
  padding-top: 5px;
}
.btn-success{
  margin-top:10px;
  margin-bottom:5px;
}
body{
  background-color: #ecf0f1;
}
.thumbnail{
  border-radius: 0px;
  padding: 0px;
}
.container-fluid{
  margin-bottom: -20px;
}
.panel-body{
  border-radius: 0px;
}
table{
  background-color: white;
}

.logo
{
	width : 100%;

}

nav
{
	margin-bottom : 0;

}

#berita
{

	font-size : 72px;
}

#judul_berita
{

	font-size : 12px;
}

#isi_berita
{

	font-size : 8px;
}

#hubungi_kami
{
	font-size : 32px;
}

#ajakan
{

	font-size : 22px;
}

#relawan_a
{
	display : none;
}

#donasi_a
{
	display : none;
}

#kunjungan_a
{
	display : none;
}
